<div class="header-section">
    <a class="toggle-btn"><i class="fa fa-outdent"></i></a>
    <!--logo and logo icon start-->
    <div class="logo dark-logo-bg hidden-xs hidden-sm">
        <a href="/administration">
            <span class="brand-name">
                Travelly
            </span>
        </a>
    </div>
    <!--logo and logo icon end-->
    <!--toggle button start-->
    <div class="notification-wrap">
        <!--right notification start-->
        <div class="right-notification">
            <ul class="notification-menu">
                <li>
                </li>
                <li class="">
                    <a href="javascript:;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {{ app.user.firstName }} {{ app.user.lastName }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu purple pull-right">
                        <li>
                            <a href="/logout"><i class="fa fa-sign-out pull-right"></i> 
                                Déconnexion
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="sb-toggle-right">
                        <i class="fa fa-indent"></i>
                    </div>
                </li>
            </ul>
        </div>
        <form class="search-content" action="" method="get">
            <input type="text" class="form-control" name="keyword" style="width:200px;" placeholder="Rechercher un utilisateur ...">
        </form>
        <!--right notification end-->
    </div>
</div>
