<ul class="nav nav-pills nav-stacked side-navigation">
  <li>
    <h3 class="navigation-title">Navigation</h3>
  </li>
  <li>
    <a href="{{ path('homepage') }}">
      <i class="fa fa-angle-left"></i>
      <span>Retourner au site</span>
    </a>
  </li>
  <li class="{% if 'dashboard' in app.request.attributes.get('_route') %} active{% endif %}">
    <a href="{{ path('admin_dashboard') }}">
      <i class="fa fa-home"></i>
      <span>Tableau de bord</span>
    </a>
  </li>
  <li>
    <a href="{{ path('app_medias_index') }}">
      <span>Media</span>
    </a>
  </li>
  <li class="menu-list{% if 'user' in app.request.attributes.get('_route') %} active{% endif %}">
    <a href="">
      <i class="fa fa-users"></i>
      <span>Utilisateurs</span>
    </a>
    <ul class="child-list">
      <li>
        <a href="{{ path('admin_users_manage') }}">
          Gérer
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-list{% if 'deal' in app.request.attributes.get('_route') %} active{% endif %}">
    <a href="">
      <i class="fa fa-plane"></i>
      <span>Offres</span>
    </a>
    <ul class="child-list">
      <li>
        <a href="{{ path('admin_deals_manage') }}">
          Gérer
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-list{% if 'category' in app.request.attributes.get('_route') %} active{% endif %}">
    <a href="">
      <i class="fa fa-th"></i>
      <span>Categories</span>
    </a>
    <ul class="child-list">
      <li>
        <a href="{{ path('admin_categories_manage') }}">
          Gérer
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-list{% if 'message' in app.request.attributes.get('_route') %} active{% endif %}">
    <a href="">
      <i class="fa fa-envelope"></i>
      <span>Messages</span>
    </a>
    <ul class="child-list">
      <li>
        <a href="{{ path('admin_messages_manage') }}">
          Gérer
        </a>
      </li>
    </ul>
  </li>
</ul>
