{% extends "admin.html.twig" %}

{% block title %}
  Panel d'administration
{% endblock title %}

{% block subtitle %}
  Tableau de bord
{% endblock subtitle %}


{% block body %}
<section class="panel">
  <header class="panel-heading">
    Edition de la categorie: {{ category.name }}
  </header>
  <div class="panel-body">
    <div class="row">
      {{ form_start(form, {'method': 'post', 'action': path('admin_categories_edit', {'id': category.id}), 'attr': {novalidate: 'novalidate'}}) }}

        <div class="col-md-6 {% if not form.name.vars.valid %}has-error{% endif %}">
          {{ form_label(form.name, "Votre prénom") }}
          {{ form_widget(form.name, {attr: {class: "form-control"}}) }}
          {{ form_errors(form.name) }}
        </div>

        <div class="col-md-6 {% if not form.icon.vars.valid %}has-error{% endif %}">
          {{ form_label(form.icon, "Votre nom") }}
          {{ form_widget(form.icon, {attr: {class: "form-control"}}) }}
          {{ form_errors(form.icon) }}
        </div>

        <div class="col-md-12 {% if not form.user.vars.valid %}has-error{% endif %}">
          {{ form_label(form.user, "Utilisateur") }}
          {{ form_widget(form.user, {attr: {class: "form-control"}}) }}
          {{ form_errors(form.user) }}
        </div>

        <div class="col-md-12 {% if not form.user.vars.valid %}has-error{% endif %}">
          {{ form_widget(form.send, {attr: {class: "form-control btn btn-primary"}}) }}
        </div>

      {{ form_end(form) }}
    </div> <!-- row -->
  </div>
</section>
{% endblock body %}
