{% extends "admin.html.twig" %}

{% block title %}
  Panel d'administration
{% endblock title %}

{% block subtitle %}
  tableau de bord
{% endblock subtitle %}

{% block body %}
  <section class="panel">
    <header class="panel-heading">
      Tableau de bord
    </header>
    <div class="panel-body">
      <div class="row">
       <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
            <th{% if pagination.isSorted('c.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'c.name') }}</th>
            <th{% if pagination.isSorted('c.icon') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Icône', 'c.icon') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Date création', ['c.createdAt']) }}</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for category in pagination %}
          <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.icon }}</td>
            <td>{{ category.createdAt | date("m/d/Y") }}</td>
            <td>
              <a href="{{ path('admin_categories_view', {'id': category.id}) }}" class="btn btn-info">Voir</a>
              <a href="{{ path('admin_categories_edit', {'id': category.id}) }}" class="btn btn-success">Editer</a>
              <button type="button" data-id="{{ category.id }}" data-type="category" class="btn btn-danger btn-delete">Supprimer</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
       </table>
       <div class="navigation">
         {{ knp_pagination_render(pagination) }}
       </div>
      </div>
    </div>
  </section>

{% endblock body %}
