{% extends "admin.html.twig" %}

{% block body %}

<section class="panel panel-deals">
    <header class="panel-heading">
      Offres présente dans {{ category.name }}
    </header>
    <div class="panel-body">
      <div class="row">
      {% if category.deals | length == 0 %}
        Aucune offre
      {% endif %}
      {% for deal in category.deals %}
      <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="inner">

          <a class="img-link" href="{{ path('deal', {'slug': deal.slug, 'id': deal.id}) }}">
            <figure class="picture">
              <img class="img-responsive" src="{{ asset("/images/"~deal.thumbnail) | imagine_filter('thumb') }}" alt=""/>
              <span class="price">{{ deal.price }}€</span>
              <i class="icon icon-{{ deal.category.icon }}"></i>
            </figure>
          </a>

          <div class="infos">
            <a href="{{ path('deal', {'slug': deal.slug, 'id': deal.id}) }}"><h3>{{ deal.name }}</h3></a>

            <p>{{ deal.content }}</p>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
</section>

{% endblock body %}
