{% extends "admin.html.twig" %}

{% block title %}
  Panel d'administration
{% endblock title %}

{% block subtitle %}
  Tableau de bord
{% endblock subtitle %}

{% block body %}
  <section class="panel">
    <header class="panel-heading">
      Gestion des utilisateurs
    </header>
    <div class="panel-body">
      <div class="row">
       <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'u.id') }}</th>
            <th{% if pagination.isSorted('u.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom utilisateur', 'u.username') }}</th>
            <th{% if pagination.isSorted('u.email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Date login', ['u.lastLogin']) }}</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in pagination %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.lastLogin | date("m/d/Y") }}</td>
            <td>
              <a href="{{ path('admin_users_view', {"id": user.id}) }}" class="btn btn-info">Voir</a>
              <a href="{{ path('admin_users_edit', {"id": user.id}) }}" class="btn btn-success">Editer</a>
              <button data-id="{{ user.id }}" class="btn btn-warning btn-banish">Bannir</button>
              <button data-id="{{ user.id }}" data-type="user" class="btn btn-danger btn-delete">Supprimer</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
       </table>
       <div class="navigation">
         {{ knp_pagination_render(pagination) }}
       </div>
      </div>
    </div>
  </section>

{% endblock body %}
