{% extends "admin.html.twig" %}

{% block body %}

<section class="panel panel-deals">
    <header class="panel-heading">
      Offres écrite par {{ user.username }}
    </header>
    <div class="panel-body">
      <div class="row">
      {% if user.deals | length == 0 %}
        Aucune offre
      {% endif %}
      {% for deal in user.deals %}
      <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="inner">

          <a class="img-link" href="{{ path('deal', {'slug': deal.slug, 'id': deal.id}) }}">
            <figure class="picture">
              <img class="img-responsive" src="{{ asset("/images/"~deal.thumbnail) | imagine_filter('thumb') }}" alt=""/>
              <span class="price">{{ deal.price }}€</span>
              <i class="icon icon-{{ deal.category.icon }}"></i>
            </figure>
          </a>

          <div class="infos">
            <a href="{{ path('deal', {'slug': deal.slug, 'id': deal.id}) }}"><h3>{{ deal.name }}</h3></a>

            <p>{{ deal.content }}</p>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
</section>


<section class="panel panel-comments">
  <header class="panel-heading">
    Commentaires écrit par {{ user.username }}
  </header>
  <div class="panel-body">
    <div class="row">
      {% if user.dealComments | length == 0 %}
        Aucun commantaire
      {% endif %}
      {% for comment in user.dealComments %}
      <div class="comment">
        <div class="comment-header">
          <p>
            <small>{{ comment.createdAt | date("m/d/Y") }}</small>
          </p>
        </div> <!-- comment-header -->
        <div class="comment-content">
          {{ comment.content }}
        </div> <!-- comment-content -->
      </div> <!-- comment -->
      {% endfor %}
    </div>
  </div>
</section>


<section class="panel panel-messages">
  <header class="panel-heading">
    Messages écrit par {{ user.username }}
  </header>

  <div class="panel-body">
    <div class="row">
      {% if user.messages | length == 0 %}
        Aucun message
      {% endif %}
      {% for message in user.messages %}
        <div class="message-header">
          <p>
            <small>{{ message.createdAt | date("m/d/Y") }}</small>
          </p>
        </div> <!-- message -->
        <div class="message-content">
          {{ message.content }}
        </div> <!-- message-content -->
      {% endfor %}
    </div> <!-- row -->
  </div> <!-- panel-body -->
</section>

{% endblock body %}
