{% extends "admin.html.twig" %}

{% block title %}
  Panel d'administration
{% endblock title %}

{% block subtitle %}
  tableau de bord
{% endblock subtitle %}

{% block body %}
  <section class="panel">
    <header class="panel-heading">
      Tableau de bord
    </header>
    <div class="panel-body">
      <div class="row">
       <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'u.id') }}</th>
            <th{% if pagination.isSorted('u.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom utilisateur', 'u.username') }}</th>
            <th{% if pagination.isSorted('u.email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Date login', ['u.lastLogin']) }}</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in pagination %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.lastLogin | date("m/d/Y") }}</td>
            <td><a href="{{ path('homepage', {'_switch_user': user.username}) }}" class="btn btn-default">Connexion</a></td>
          </tr>
          {% endfor %}
        </tbody>
       </table>
       <div class="navigation">
         {{ knp_pagination_render(pagination) }}
       </div>
      </div>
    </div>
  </section>

{% endblock body %}
