<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="Travelly"/>
    <meta name="description" content=""/>
    <link rel="shortcut icon" href="javascript:;" type="image/png" data-turbolinks-track="reload">
    <title>Panel d'administration - Travelly</title>
    <!--right slidebar-->
    <link href="/admin/css/slidebars.css" rel="stylesheet" data-turbolinks-track="reload">
    <!--iCheck-->
    <link href="/admin/css/owl.carousel.css" rel="stylesheet" data-turbolinks-track="reload">
    <!--common style-->
    <link href="/admin/css/style.css" rel="stylesheet" data-turbolinks-track="reload">
    <link href="/admin/css/style-responsive.css" rel="stylesheet" data-turbolinks-track="reload">
    <link rel="stylesheet" href="/css/dropzone.css" type="text/css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]> <script src="/admin/js/html5shiv.js"></script> <script src="/admin/js/respond.min.js"></script> <![endif]-->
    {% block stylesheets %}{% endblock %}

  </head>

  <body class="sticky-header {{ app.request.attributes.get('_route') }}">
    <section>
      <!-- sidebar left start-->
      <div class="sidebar-left">
        <!--responsive view logo start-->
        <div class="logo dark-logo-bg visible-xs-* visible-sm-*">
          <a href="/administration">
            <span class="brand-name">Travelly</span>
          </a>
        </div>
        <!--responsive view logo end-->
        <div class="sidebar-left-info">
          <!-- visible small devices start-->
          <div class=" search-field"></div>
          <!-- visible small devices end-->
          <!--sidebar nav start-->
          {% include 'layout/admin/_sidebar.html.twig' %}
          <!--sidebar nav end-->
        </div>
      </div>
      <!-- sidebar left end-->
      <!-- body content start-->
      <div class="body-content">
        <!-- header section start-->
        {% include 'layout/admin/_header.html.twig' %}
        <!-- header section end-->
        <!-- page head start-->
        <div class="page-head">
          <h3>
            {% block title %}{% endblock %}
          </h3>
          <span class="sub-title">
            {% block subtitle %}{% endblock %}
          </span>
        </div>
        <!-- page head end-->
        <!--body wrapper start-->
        <div class="wrapper">
          {% block body %}{% endblock %}
        </div>
        <!--body wrapper end-->
        <!--footer section start-->
        <footer>
          2017 - Tous droits réservés par Travelly
        </footer>
        <!--footer section end-->
        <!-- body content end-->
      </section>
      <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="/js/turbolinks.js" type="text/javascript"></script>
      <script src="/admin/js/scripts.js"></script>
      <script src="/js/bundle.js" type="text/javascript"></script>
      <script src="/admin/js/dropzone.jquery.js" type="text/javascript"></script>
      {% block javascripts %}{% endblock %}
    </body>

  </html>
