<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>
      {% block title %}Welcome!{% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css" data-turbolinks-track="reload">
    <link rel="stylesheet" href="/css/sprite.css" type="text/css" data-turbolinks-track="reload">

    {% block stylesheets %}{% endblock %}
  </head>
  <body class="{{ app.request.get('_route') }}">
    {% if app.request.get('_route') == 'homepage' %}
      {% include "@AppBundle/Web/header.html.twig" %}
    {% else %}
      {% include "header.html.twig" %}
    {% endif %}

    {% block body %}{% endblock %}

    {% include "footer.html.twig" %}

    {% block javascripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
    <script src="/js/turbolinks.js" type="text/javascript"></script>

    <script type="text/javascript">
      $('li.login a').click(function() {
        $('li.login #login').toggleClass('active');
        return false;
      });
    </script>
  </body>
</html>
