<footer>
  <div class="container">
    <p class="pull-left">Copyright 2014 Travelly. All Rights Reserved. Designed for Despreneur</p>
    <nav class="nav-footer pull-right">
      <ul>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
          <a href="{{ path('admin_dashboard') }}">Admin</a>
        </li>
        {% endif %}
        <li>
          <a href="{{ path('homepage') }}">home</a>
        </li>
        <li>
          <a href="#">about</a>
        </li>
        <li>
          <a href="#">blog</a>
        </li>
        <li>
          <a href="#">press</a>
        </li>
        <li>
          <a href="/contact">contact</a>
        </li>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</footer>
