{# Navigation #}
<div class="container">
  <a href="{{ path('homepage') }}" class="logo pull-left"></a>

  <nav class="navigation pull-right">
    <ul>
      <li>
        <a href="{{ path('deals_search') }}">Rechercher</a>
      </li>
      <li>
        <a href="#">Autres</a>
      </li>
      {% if app.user %}
      <li>
        <a href="#">{{ app.user.username }}</a>
      </li>
      <li>
        <a href="{{ path('fos_user_security_logout')}}">Déconnexion</a>
      </li>
      {% else %}
      <li>
        <a href="{{ path('fos_user_registration_register')}}">Inscription</a>
      </li>
      <li class="login">
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>

        <div id="login">
          <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
            <input type="hidden" name="_csrf_token" value="{{ login_csrfToken }}" />

              <label for="username" class="control-label">Login</label>
              <input type="text" id="username" name="_username" class="form-control" required="required" />

              <label for="password" class="control-label">Mot de passe</label>
              <input type="password" id="password" name="_password" required="required" class="form-control" />

              <input type="checkbox" id="remember_me" name="_remember_me" value="on" />

              <input type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-primary" />
          </form>
        </div> <!-- name -->
      </li>
      {% endif %}
      {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
      <li>
        <a href="{{ path('admin_dashboard', {'_switch_user': '_exit'}) }}">Sortir impersonation</a>
      </li>
      {% endif %}
    </ul>
  </nav>


  <div class="clear"></div>
</div>

