{% extends "admin.html.twig" %}

{% block title %}
  Panel d'administration
{% endblock title %}

{% block subtitle %}
  Tableau de bord
{% endblock subtitle %}


{% block body %}
<section class="panel">
  <header class="panel-heading">
    Edition de l'offre {{ deal.name }}
  </header>
  <div class="panel-body">
    <div class="row">
      {{ form_start(form, {'method': 'post', 'action': path('admin_deals_edit', {'id': deal.id}), 'attr': {novalidate: 'novalidate'}}) }}

        <div class="col-md-4 {% if not form.name.vars.valid %}has-error{% endif %}">
          {{ form_label(form.name, "Nom de l'offre") }}
          {{ form_widget(form.name, {attr: {class: "form-control"}}) }}
          {{ form_errors(form.name) }}
        </div>

        <div class="col-md-4 {% if not form.price.vars.valid %}has-error{% endif %}">
          {{ form_label(form.price, "Prix de l'offre") }}
          {{ form_widget(form.price, {attr: {class: "form-control"}}) }}
          {{ form_errors(form.price) }}
        </div>

        <div class="col-md-4 {% if not form.thumbnail.vars.valid %}has-error{% endif %}">
          {{ form_label(form.thumbnail, "Vignette") }}
          {{ form_widget(form.thumbnail, {attr: {class: "form-control"}}) }}
          {{ form_errors(form.thumbnail) }}
        </div>

        <div class="col-md-12 {% if not form.content.vars.valid %}has-error{% endif %}">
          {{ form_label(form.content, "Content...") }}
          {{ form_widget(form.content, {attr: {class: "form-control"}}) }}
          {{ form_errors(form.content) }}
        </div>

        <div class="col-md-6 {% if not form.category.vars.valid %}has-error{% endif %}">
          {{ form_label(form.category, "Categorie") }}
          {{ form_widget(form.category, {attr: {class: "form-control"}}) }}
          {{ form_errors(form.category) }}
        </div>

        <div class="col-md-6 {% if not form.user.vars.valid %}has-error{% endif %}">
          {{ form_label(form.user, "Utilisateur") }}
          {{ form_widget(form.user, {attr: {class: "form-control"}}) }}
          {{ form_errors(form.user) }}
        </div>

        <div class="col-md-12 {% if not form.user.vars.valid %}has-error{% endif %}">
          {{ form_widget(form.send, {attr: {class: "form-control btn btn-primary"}}) }}
        </div>

      {{ form_end(form) }}
    </div> <!-- row -->
  </div>
</section>
{% endblock body %}
