{% extends "admin.html.twig" %}

{% block title %}
  Panel d'administration
{% endblock title %}

{% block subtitle %}
  Offres
{% endblock subtitle %}

{% block body %}
  <section class="panel">
    <header class="panel-heading">
      Tableau de bord
    </header>
    <div class="panel-body">
      <div class="row">
       <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'd.id') }}</th>
            <th{% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom offre', 'd.name') }}</th>
            <th{% if pagination.isSorted('d.price') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'prix', 'd.price') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Date création', ['d.createdAt']) }}</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for deal in pagination %}
          <tr>
            <td>{{ deal.id }}</td>
            <td>{{ deal.name }}</td>
            <td>{{ deal.price }}</td>
            <td>{{ deal.createdAt | date("m/d/Y") }}</td>
            <td>
              <a href="{{ path('deal', {'id': deal.id, 'slug': deal.slug}) }}" class="btn btn-info">Voir</a>
              <a href="{{ path('admin_deals_edit', {'id': deal.id}) }}" class="btn btn-success">Editer</a>
              <button data-id="{{ deal.id }}" data-type="deal" type="button" class="btn btn-danger btn-delete">Supprimer</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
       </table>
       <div class="navigation">
         {{ knp_pagination_render(pagination) }}
       </div>
      </div>
    </div>

{% endblock body %}
