$bg: #eee;
$bg-comment: #f7f9fa;
$bg-transparent-3: rgba(0, 0, 0, .3);
$bg-transparent-6: rgba(0, 0, 0, .6);

$small-title: #929292;

$black: #000;
$blue: #38abc8;
$grey: #ddd;
$orange: #fd5032;
$white: #fff;
