<header>
  <div class="container">

    {% include "nav.html.twig" %}

    <h1 class="text-center">Where will you go next?</h1>

    <div class="research">
      <form action="{{ path('deals_search') }}" method="POST">
        <div class="pull-left">
          <input type="text" name="searchInput" placeholder="Start typing...">
        </div>
        <div class="pull-right">
          <button type="submit">go</button>
        </div>
      </form>
    </div>

  </div>
</header>
