{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', novalidate: 'novalidate'}}) }}
<div class="container">

  <div class="col-md-6 {% if not form.firstName.vars.valid %}has-error{% endif %}">
    {{ form_label(form.firstName, "Votre prénom") }}
    {{ form_widget(form.firstName, {attr: {class: "form-control"}}) }}
    {{ form_errors(form.firstName) }}
  </div>

  <div class="col-md-6 {% if not form.lastName.vars.valid %}has-error{% endif %}">
    {{ form_label(form.lastName, "Votre nom") }}
    {{ form_widget(form.lastName, {attr: {class: "form-control"}}) }}
    {{ form_errors(form.lastName) }}
  </div>

  <div class="col-md-6 {% if not form.username.vars.valid %}has-error{% endif %}">
    {{ form_label(form.username, "Votre nom d'utilisateur") }}
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      {{ form_widget(form.username, {attr: {class: "form-control"}}) }}
      {% if not form.username.vars.valid %}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      {% endif %}
    </div>
    {% if not form.username.vars.valid %}
    <div class="alert alert-danger">
      {{ form_errors(form.username) }}
    </div>
    {% endif %}
  </div>

  <div class="col-md-6 {% if not form.email.vars.valid %}has-error{% endif %}">
    {{ form_label(form.email, "Votre adresse e-mail") }}
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      {{ form_widget(form.email, {attr: {class: "form-control"}}) }}
      {% if not form.email.vars.valid %}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      {% endif %}
    </div>
    {% if not form.email.vars.valid %}
    <div class="alert alert-danger">
      {{ form_errors(form.email) }}
    </div>
    {% endif %}
  </div>

  <div class="col-md-6 {% if not form.plainPassword.first.vars.valid %}has-error{% endif %}">
    {{ form_label(form.plainPassword.first, "Votre mot de passe") }}
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      {{ form_widget(form.plainPassword.first, {attr: {class: "form-control"}}) }}
      {% if not form.plainPassword.first.vars.valid %}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      {% endif %}
    </div>
    {% if not form.plainPassword.first.vars.valid %}
    <div class="alert alert-danger">
      {{ form_errors(form.plainPassword.first) }}
    </div>
    {% endif %}
  </div>

  <div class="col-md-6 {% if not form.plainPassword.second.vars.valid %}has-error{% endif %}">
    {{ form_label(form.plainPassword.second, "Votre mot de passe de confirmation") }}
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      {{ form_widget(form.plainPassword.second, {attr: {class: "form-control"}}) }}
      {% if not form.plainPassword.second.vars.valid %}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      {% endif %}
    </div>
    {% if not form.plainPassword.second.vars.valid %}
    <div class="alert alert-danger">
      {{ form_errors(form.plainPassword.second) }}
    </div>
    {% endif %}
  </div>

  <div class="col-md-12">
    {{ form_widget(form.recaptcha, { 'attr': {
      'options' : {
      'theme': 'light',
      'type': 'image',
      'size': 'normal'
      },
    } }) }}
    {{ form_errors(form.recaptcha) }}
  </div>

  <div class="col-md-12">
    <input type="submit" class="btn btn-lg btn-primary" value="{{ 'registration.submit'|trans }}" />
  </div>

</div>
{{ form_end(form) }}
