{% extends "@UserBundle/layout.html.twig" %}

{% block fos_user_content %}

  <section>
    <div class="register-form">
      <div class="container">
        {% include "@UserBundle/Registration/register_content.html.twig" %}
      </div>
    </div>
  </section>
{% endblock fos_user_content %}
