@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import 'node_modules/compass-mixins/lib/compass';

@import 'helpers/variables';

@import 'layout/nav';
@import 'layout/header';
@import 'layout/footer';

@import 'pages/home';
@import 'pages/login';
@import 'pages/register';
@import 'pages/contact';
@import 'pages/deal';
@import 'pages/search';

body {
  background: $grey;
  font-family: 'Open Sans', sans-serif;
}

div {
  &.clear {
    clear: both;
  }
}

input,
button {
  &.focus {
    outline: none;
  }
}

