footer {
  padding: 25px 1px;

  p {
    color: $small-title;
    margin: 0;
  }

  .nav-footer {
    li {
      float: left;
      list-style-type: none;
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $black;
        text-transform: uppercase;
      }
    }
  }
}
