body.homepage {
  header {
    background-image: url('/images/header.jpg');
    background-size: cover;
    height: 500px;
    padding-top: 50px;
    width: 100%;

    li {
      a {
        margin-right: 25px;
      }
    }

    h1 {
      &.text-center {
        color: $white;
        margin-top: 150px;
      }
    }

    .research {
      margin: 50px auto;
      max-width: 600px;

      .pull-left {
        width: 80%;

        input {
          border: 0;
          padding: 15px;
          width: 100%;
        }
      }

      .pull-right {
        width: 20%;

        button {
          background-color: $orange;
          border: 0;
          color: $white;
          padding: 15px;
          text-transform: uppercase;
          width: 100%;

          &:hover {
            background-color: darken($orange, 20%);
          }
        }
      }
    }
  }
}

body:not(.homepage) {
  header {
    background: $blue;

    .logo {
      margin-top: 20px;
    }

    a:not(.logo) {
      @include transition(all .3s);

      display: block;
      padding: 25px 20px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;

      &:hover {
        background: darken($blue, 30%);
        text-decoration: none;
      }
    }
  }
}
