a {
  &.logo {
    background-image: url('/images/logo.png');
    height: 33px;
    width: 147px;
  }
}

nav {
  &.navigation {

    li {
      float: left;
      list-style-type: none;

      &:last-child {
        margin-right: 0;
      }

      &:nth-last-child(2) {
        padding-left: 50px;
      }

      &.login {
        position: relative;

        div#login {
          @include adjust-font-size-to(16px);
          background: $white;
          left: -40px;
          height: 0;
          overflow: hidden;
          position: absolute;
          top: 50px;
          z-index: 999;

          @include transition-duration(.5s);
          @include transition-timing-function(ease-in-out);

          form {
            padding: 30px;
          }

          &.active {
            display: block;
            height: 250px;
          }
        }
      }

      a {
        color: $white;
      }
    }
  }
}

