{% extends 'base.html.twig' %}
{% block body %}

  {% if app .request .attributes .get('_route') != "fos_user_registration_confirmed" %}
    <div class="container">
      {% if app.request.hasPreviousSession %}
        {% for type, messages in app .session .flashbag .all() %}
          {% for message in messages %}
            <div class="alert alert-{{ type }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}

  {% block fos_user_content %}{% endblock fos_user_content %}
{% endblock %}
