.contact-form {
  background: $white;
  padding-top: 50px;

  .input-group,
  .rc-anchor,
  input,
  textarea {
    margin-bottom: 20px;
  }

  .btn[type=submit] {
    margin-top: 20px;
  }

  .alert {
    ul {
      list-style: none;
    }
  }
}
