.deal-detail {
  margin-top: 50px;

  h1 {
    text-transform: uppercase;
  }

  .inner {
    background: $white;
    padding: 25px;
  }

  .comment-block {
    hr {
      margin: 10px 0;
    }

    textarea {
      margin-bottom: 10px;
    }
  }

  .comment {
    @include border-radius(4px, 4px);
    background: $bg-comment;
    border: 1px solid $grey;
    margin-bottom: 10px;
    padding: 15px;
  }

  .comment-header {
    .comment-author {
      color: $orange;
      font-size: 1.5rem;
      font-weight: 600;
      margin-right: 1px;
    }

    small {
      color: $small-title;
    }
  }
}
