[class=homepage] {
  h1,
  h2,
  h3 {
    text-transform: uppercase;
  }
}

.block-listing {
  background: $bg;
  padding-bottom: 75px;

  h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .title {
    margin-bottom: 50px;

    p {
      color: $small-title;
      font-weight: 500;
      font-size: 1.7rem;
    }
  }

  article {
    padding-left: 0;
    margin-bottom: 15px;

    .inner {
      background: $white;
      box-shadow: 5px 5px 15px #888888;
    }

    .picture {
      position: relative;

      img {
        width: 100%;
      }

      &:hover::after {
        background: $bg-transparent-3;
        content: '';
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 99;
      }
    }

    .icon {
      left: -5px;
      position: absolute;
      top: -5px;
      z-index: 100;
    }

    .price {
      background: $bg-transparent-6;
      bottom: 2px;
      color: $white;
      padding: 10px 25px;
      position: absolute;
      right: 2px;
    }

    .infos {
      padding: 5px 10px;

      h3 {
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
      }

      p {
        font-size: 13px;
        text-align: left;
      }
    }
  }
}

.pre-footer {
  background: $white;
  padding-bottom: 75px;
}

.block-comment {

  background: $white;
  margin: 0 auto;

  .container {
    h2 {
      margin-bottom: 25px;
      text-transform: none;
    }

    h3 {
      font-size: 1.7rem;
      font-weight: 600;
    }
  }

  .block-listing {
    background: $white;

    p {
      color: $small-title;
    }
  }
}

.block-subscribe {
  margin: 0 auto;
  max-width: 500px;
  padding-bottom: 50px;

  h3 {
    margin-bottom: 25px;
  }

  .pull-left {
    width: 80%;

    input {
      background: $grey;
      border: 0;
      padding: 10px;
      width: 100%;
    }
  }

  .pull-right {
    width: 20%;

    button {
      background-color: $orange;
      border: 0;
      color: $white;
      padding: 10px;
      text-transform: uppercase;
      width: 100%;

      &:hover {
        background-color: darken($orange, 20%);
      }
    }
  }
}
