.block-search {

  background: $white;

  form {
    margin-top: 25px;
    margin-left: 20px;
  }

  h2 {
    &.text-center {
      margin-bottom: 25px;
    }
  }

  .block-listing {
    background: $white;
    padding: 25px
  }
}
