{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<section class="login-form">
  <div class="container">
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
      {% if csrf_token %}
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
      {% endif %}

      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">{{ 'security.login.username'|trans }}</label>
        <div class="col-sm-10 input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required" />
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">{{ 'security.login.password'|trans }}</label>
        <div class="col-sm-10 input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" id="password" name="_password" required="required" class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />
        </div>
      </div>

    </form>
  </div>
</section>
