{% extends "base.html.twig" %}

{% block body %}
<section>
  <div class="contact-form">
    <div class="container">
      {{ form_start(form, {'method': 'post', 'action': path('contact'), 'attr': {novalidate: 'novalidate'}}) }}
        <div class="col-md-6">
          {{ form_label(form.firstName, "Votre prénom") }}
          {{ form_widget(form.firstName, {attr: {class: "form-control"}}) }}
          {% if not form.firstName.vars.valid %}
          <div class="alert alert-danger">
            {{ form_errors(form.firstName) }}
          </div>
          {% endif %}
        </div>

        <div class="col-md-6">
          {{ form_label(form.lastName, "Votre nom") }}
          {{ form_widget(form.lastName, {attr: {class: "form-control"}}) }}
          {% if not form.lastName.vars.valid %}
          <div class="alert alert-danger">
            {{ form_errors(form.lastName) }}
          </div>
          {% endif %}
        </div>

        <div class="col-md-12 {% if not form.email.vars.valid %}has-error{% endif %}">
          {{ form_label(form.email, "Votre adresse e-mail") }}
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            {{ form_widget(form.email, {attr: {class: "form-control"}}) }}
            {% if not form.email.vars.valid %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            {% endif %}
          </div>
          {% if not form.email.vars.valid %}
          <div class="alert alert-danger">
            {{ form_errors(form.email) }}
          </div>
          {% endif %}
        </div>

        <div class="col-md-12 {% if not form.content.vars.valid %}has-error{% endif %}">
          {{ form_label(form.content) }}
          {{ form_widget(form.content, {attr: {class: "form-control"}}) }}
          {% if not form.content.vars.valid %}
          <div class="alert alert-danger">
            {{ form_errors(form.content) }}
          </div>
          {% endif %}
        </div>

        <div class="col-md-12">
          {{ form_widget(form.recaptcha, { 'attr': {
            'options' : {
              'theme': 'light',
              'type': 'image',
              'size': 'normal'
            },
            } }) }}
          {% if not form.recaptcha.vars.valid %}
          <div class="alert alert-danger">
            {{ form_errors(form.recaptcha) }}
          </div>
          {% endif %}
        </div>

        <div class="col-md-12">
          {{ form_widget(form.send, {attr: {class: "btn btn-lg btn-primary"}}) }}
        </div>
      {{ form_end(form) }}
    </div>
  </div>
</section>
{% endblock body %}

