{% extends "base.html.twig" %}

{% block body %}

<main>
  <section class="block-listing row">
    <div class="container">

      <div class="title">
        <h2>top destinations</h2>
        <p>Some of the top destinations for your next summer adventure.</p>
      </div>

      {% for deal in deals %}
        <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="inner">

            <a class="img-link" href="{{ path('deal', {'slug': deal.slug, 'id': deal.id}) }}">
              <figure class="picture">
                <img class="img-responsive" src="{{ asset("/images/"~deal.thumbnail) | imagine_filter('thumb') }}" alt=""/>
              <span class="price">{{ deal.price }}€</span>
              <i class="icon icon-{{ deal.category.icon }}"></i>
              </figure>
            </a>

            <div class="infos">
              <a href="{{ path('deal', {'slug': deal.slug, 'id': deal.id}) }}"><h3>{{ deal.name }}</h3></a>

              <p>{{ deal.content }}</p>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>

  <section class="pre-footer">
    <div class="block-comment">
      <div class="container">
        <h2>Before you leave</h2>

        <div class="block-listing row">

          <div class="item item-1 col-x-12 col-sm-6 col-md-4">
            <h3>Visa & documents</h3>
            <p>
              There are some things you should take care before going to your next adventure.
              We 'll help you to get required visas and documentats needed.
            </p>
          </div>

          <div class="item item-2 col-x-12 col-sm-6 col-md-4">
            <h3>Visa & documents</h3>
            <p>
              There are some things you should take care before going to your next adventure.
              We 'll help you to get required visas and documentats needed.
            </p>
          </div>

          <div class="item item-3 col-x-12 col-sm-6 col-md-4">
            <h3>Visa & documents</h3>
            <p>
              There are some things you should take care before going to your next adventure.
              We 'll help you to get required visas and documentats needed.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="block-subscribe">
      <h3 class="text-center">Get hottest deals to your inbox</h3>

      <form action="" method="GET">
        <div class="pull-left">
          <input type="email" name="emailInput" placeholder="Email addresse">
        </div>
        <div class="pull-right">
          <button type="submit">subscribe</button>
        </div>
      </form>
    </div>
  </section>
</main>

{% endblock body %}
