{% extends "base.html.twig" %}

{% block body %}
<section class="block-search">
  <div class="container">
    <div class="row">
      <form action="" method="POST" class="form-inline">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
          <input type="text" class="form-control" name="keywords" placeholder="Mot clés ...">
        </div> <!-- input-group -->
        <div class="form-group">
          <select class="form-control" name="category">
            <option value=""></option>
            {% for category in categories %}
              <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div> <!-- form-group -->
        <button type="submit" class="btn btn-default">Rechercher</button>
      </form>
    </div> <!-- row -->

    <div class="row block-listing">
      <h2 class="text-center">{{ deals | length }} résultats</h2>
      {% if deals | length != 0 %}
        {% for deal in deals %}
          <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="inner">

              <a class="img-link" href="{{ path('deal', {'slug': deal.slug, 'id': deal.id}) }}">
                <figure class="picture">
                  <img class="img-responsive" src="{{ asset("/images/"~deal.thumbnail) | imagine_filter('thumb') }}" alt=""/>
                <span class="price">{{ deal.price }}€</span>
                <i class="icon icon-{{ deal.category.icon }}"></i>
                </figure>
              </a>

              <div class="infos">
                <a href="{{ path('deal', {'slug': deal.slug, 'id': deal.id}) }}"><h3>{{ deal.name }}</h3></a>

                <p>{{ deal.content }}</p>
              </div>
            </div>
          </article>
        {% endfor %}
      {% endif %}
    </div> <!-- row -->
  </div>
</section>
{% endblock body %}

