{% extends "::base.html.twig" %}

{% block title %}AppBundle:DealsController:view{% endblock %}

{% block body %}
  <section class="deal-detail">
    <div class="container">
      <div class="inner">
        <img class="img-responsive" src="{{ asset("/images/"~deal.thumbnail) | imagine_filter('large_img') }}" alt=""/>
        <h1>{{ deal.name }}</h1>
        <p>{{ deal.content }}</p>

        <div class="comment-block">
          <h3>{{ deal.comments | length }} commentaire{% if deal.comments | length > 1%}s{% endif %}</h3>
          <hr>
          {% for comment in deal.comments %}
            <div class="comment">
              <div class="comment-header">
                <span class="comment-author">{{ comment.user.username }}</span>
                <small>a écrit:</small>
                <p>
                  <small>{{ comment.createdAt | date("m/d/Y") }}</small>
                </p>
              </div> <!-- comment-header -->
              <div class="comment-content">
                {{ comment.content }}
              </div> <!-- comment-content -->
            </div> <!-- comment -->
          {% endfor %}

          <hr>

          {% if app.user %}
            {{ form_start(form, {'method': 'post', 'action': path('deal', {'id': deal.id, 'slug': deal.slug}), 'attr': {novalidate: 'novalidate'}}) }}

            {{ form_label(form.content, "Votre commentaire") }}
            {{ form_widget(form.content, {attr: {class: "form-control"}}) }}
            {% if not form.content.vars.valid %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            {% endif %}
            {% if not form.content.vars.valid %}
            <div class="alert alert-danger">
              {{ form_errors(form.content) }}
            </div>
            {% endif %}

            {{ form_widget(form.recaptcha, { 'attr': {
              'options' : {
              'theme': 'light',
              'type': 'image',
              'size': 'normal'
              },
            } }) }}
            {{ form_errors(form.recaptcha) }}

            {{ form_widget(form.send, {attr: {'class': 'btn btn-primary'}}) }}

            {{ form_end(form) }}
          {% else %}
            <p>Vous devez être connecté pour poster un commentaire</p>
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">Connexion</a>
          {% endif %}
        </div> <!-- comment-block -->


      </div> <!-- inner -->
    </div> <!-- container -->
  </section>
{% endblock %}
