{% extends "admin.html.twig" %}

{% block title %}
  Panel d'administration
{% endblock title %}

{% block subtitle %}
  Tableau de bord
{% endblock subtitle %}


{% block body %}
<section class="panel">
  <header class="panel-heading">
    Messages
  </header>
  <div class="panel-body">
    <div class="row">
      {% for message in messages %}
      <div class="block-message">
        <div class="message-header">
          <p>{{ message.fistName }} {{ message.lastName }}</p>
          <p>{{ message.email }}</p>
        </div> <!-- message-header -->
        <div class="message-content">
          {{ message.content }}
        </div> <!-- message-content -->
      </div> <!-- block-message -->
      {% endfor %}
    </div>
  </div>
</section>
{% endblock body %}
